{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
  {{msg}}
  {% for message  in messages %}
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<form class="was-validated row g-3" action="save_designation" method="POST">
  {% csrf_token %}
  <div class="card">
    <div class="card-header text-center">
      <h5>{{card_header}} Designation</h5><hr>
    </div>
    <div class="card-body">
  <div class="row g-3">
    {% if  designation.Desg_Id is  None    %}

    <div class="mb-3 col-md-4">
      <label for="Desg_Name" class="form-label">Name</label>
      <input type="text" class="form-control" placeholder="Enter Designation Name" 
        name="Desg_Name" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please Enter Designation Name.</div>
    </div>

    <div class="mb-3 col-md-2">
      <label for="Desg_Status" class="form-label">Status</label>
      <div class="switchToggle">
        <input type="checkbox" class="form-control" onclick="return false" checked  name="Desg_Status" id="switch">
        <label for="switch">Toggle</label>
      </div>
    </div>

    <div class="col-md-6">
      <label for="Desg_description" class="form-label">Description</label>
      <textarea class="form-control"  name="Desg_description" 
      placeholder="Designation Description" ></textarea>
    </div>
  
    {% else %}
    <div class="col-md-2 mb-3">
      <label for="Desg_Id" class="form-label">Designation Id</label>
      <input type="text" readonly  class="form-control" name="Desg_Id" 
        value="{{designation.Desg_Id}}" />
    </div>

    <div class="mb-3 col-md-4">
      <label for="Desg_Name" class="form-label">Name</label>
      <input type="text" class="form-control" placeholder="Enter Designation Name" 
      value="{{designation.Desg_Name}}" name="Desg_Name" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    
    <div class="mb-3 col-md-2">
      <label for="Desg_Status" class="form-label">Status</label>
      <div class="switchToggle">
        <input type="checkbox" class="form-control" name="Desg_Status" id="switch"
          {% if designation.Desg_Status == 1 %}
          checked
          {% endif %}>
        <label for="switch">Toggle</label>
      </div>
    </div>

    <div class="mb-3 col-md-4">
      <label for="Desg_description" class="form-label">Description</label>
      <textarea rows="3" class="form-control" placeholder="Enter Designation Description" 
       name="Desg_description">{{designation.Desg_description}}</textarea>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <label for="Created_By" class="form-label">Created By</label>
      <input type="text" readonly  class="form-control"
        placeholder="Created By" name="Created_By"  value="{{designation.Created_By}}">
    </div>
    <div class="col-md-3">
      <label for="Created_Date" class="form-label">Created Date</label>
      <input type="text"  class="form-control"  readonly
        placeholder="Required Designation Name" name="Created_Date"  value="{{designation.Created_Date}}">
    </div>
    <div class="col-md-3">
      <label for="Modified_By" class="form-label">Modified By</label>
      <input type="text"  class="form-control"   readonly
        placeholder="Required Designation Name" name="Modified_By"  value="{{designation.Modified_By}}">
    </div>
    <div class="col-md-3">
      <label for="Modified_Date" class="form-label">Modified Date</label>
      <input type="text"  class="form-control"  readonly
        placeholder="Required Designation Name" name="Modified_Date"  value="{{designation.Modified_Date}}">
    </div>
  </div>
    {% endif %}
  
    <div class="row g-3">
      <div class="col-md-6 mb-3">
        <button class="btn btn-secondary" type="reset" >Reset form</button>
      </div>
      <div class="col-md-6 mb-3">
        <a class="btn btn-danger" type="Cancel" href="{% url 'designation' %}" >Cancel</a>
        <button class="btn btn-primary" type="submit" >Submit</button>
      </div>
    </div>
  </div>
</div>

  </form>
</div>
  <script>

</script>
{% endblock content %}