  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets_New/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Roster Maintenance</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-2 pb-2 mb-2 d-flex align-items-center">
        <div class=" col-2 " style="padding-left: 2px; padding-right: 2px;">
          <img class="img-circle elevation-2" alt="User Image"
            {% if request.session.user_Gender and request.session.user_Gender == "Male" %}
            src="/static/dist/img/Male.jpg" 
            {% elif request.session.user_Gender and request.session.user_Gender == "Female" %}
            src="/static/dist/img/Female.jpg" 
            {% endif %}
          >
        </div>
        <div class="col-10 text-white text-wrap">
          {% comment %} <a href="{% url 'register' %}" class="d-block"> {% endcomment %}
          <h5 style="margin:0px;" class=" ">{{request.session.user_fullName}} </h5>
          <p style="margin:0px; font-size:90%;" class="">Last Login: {{ request.session.user_last_login  }}</p>
          {% comment %} </a> {% endcomment %}
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline" hidden>
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fa-solid fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview {% if request.path == '/' %} menu-open {% endif %}">
            <a href="/" class="nav-link {% if request.path == '/' %} active {% endif %}">
              <i class="nav-icon fa-solid fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview {% if request.path == '/profile' %} menu-open {% endif %}">
            <a href="{% url 'profile' %}"  class="nav-link 
              {% if request.path ==  '/profile' %} active {% endif %}">
              <i class="nav-icon fa-solid fa-user-circle"></i>
              <p>
                Profile
              </p>
            </a>
          </li>
          {% if request.session.user_is_ProjectManager_or_SuperAdmin %}
            {% if request.session.user_is_ProjectManager_or_SuperAdmin and request.session.user_is_superuser %}
            <li class="nav-item has-treeview {% if request.path == '/project' or request.path == '/project/manage' %} menu-open {% endif %}">
              <a href="{% url 'project' %}" class="nav-link  {% if request.path == '/project' or request.path == '/project/manage' %}  active {% endif %}">
                <i class="nav-icon fa-solid fa-screwdriver-wrench"></i>
                <p>
                  Project
                </p>
              </a>
            </li>
            

            <li class="nav-item has-treeview 
            {% if request.path == '/department' or request.path == '/department/manage' or request.path == '/designation' or request.path == '/designation/manage' or request.path == '/role' or request.path == '/role/manage' %} 
              menu-open 
              {% endif %}">
              <a href="#" class="nav-link {% if request.path == '/department' or request.path == '/department/manage' or request.path == '/designation' or request.path == '/designation/manage' or request.path == '/role' or request.path == '/role/manage' %}  active {% endif %}">
                <i class="nav-icon fa-solid fa-building"></i>
                <p>
                  Company
                  <i class="fa-solid fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview offset-1">
                <li class="nav-item">
                  <a href="{% url 'department' %}" class="nav-link 
                  {% if request.path == '/department' or request.path == '/department/manage' %}  active {% endif %}">
                    <i class="fa-solid fa-sitemap nav-icon"></i>
                    <p>Department Master</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'designation' %}" class="nav-link 
                  {% if request.path == '/designation' or request.path == '/designation/manage' %} active {% endif %}">
                    <i class="fa-solid fa-id-badge nav-icon"></i>
                    <p>Designation</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'role' %}" class="nav-link 
                  {% if request.path == '/role' or request.path == '/role/manage' %} 
                   active {% endif %}">
                    <i class="fa-solid fa-universal-access nav-icon"></i>
                    <p>Role</p>
                  </a>
                </li>
              </ul>
            </li>
            {% endif%}
            
          <li class="nav-item has-treeview 
          {% if request.path == '/employee' or request.path == '/employee/manage' %}  menu-open {% endif %}">
            <a href="{% url 'employee' %}" class="nav-link 
            {% if request.path == '/employee' or request.path == '/employee/manage' %}  active {% endif %}">
              <i class="nav-icon fa-solid fa-users"></i>
              <p>
                Employee
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview 
          {% if request.path == '/shift' or request.path == '/shift/manage' or request.path == '/shift/assign'  or request.path == '/shift/assign/manage' or request.path == '/shift/calender' or request.path == '/shift/calender/manage'%} 
          menu-open {% endif %}">
            <a href="#" class="nav-link 
            {% if request.path == '/shift' or request.path == '/shift/manage' or request.path == '/shift/assign'  or request.path == '/shift/assign/manage' or request.path == '/shift/calender' or request.path == '/shift/calender/manage'%} 
             active {% endif %}">
              <i class="fa-solid fa-business-time nav-icon"></i>
              <p>
                Shift
                <i class="fa-solid fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview offset-1">
              <li class="nav-item">
                <a href="{% url 'shift' %}" class="nav-link  
                {% if request.path == '/shift' or request.path == '/shift/manage' %}  
                active {% endif %}">
                  <i class="fa-solid fa-clock nav-icon"></i>
                  <p>Shift Master</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'assign_shift' %}" class="nav-link 
                {% if request.path == '/shift/assign' or request.path == '/shift/assign/manage' %} 
                 active {% endif %}">
                  <i class="fa-solid fa-calendar-plus nav-icon"></i>
                  <p>Assign Shift</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'shift_calender' %}" class="nav-link 
                {% if request.path == '/shift/calender' or request.path == '/shift/calender/manage' %} active {% endif %}">
                  <i class="fa-solid fa-calendar-week nav-icon"></i>
                  <p>Shift Calender</p>
                </a>
              </li>
            </ul>
          </li>
          {% endif %}
          <li class="nav-item has-treeview 
          {% if request.path == '/attendance/timesheet' or request.path == '/attendance/mark_attendance' or request.path == '/attendance/calender'%} menu-open {% endif %}">
            <a href="#" class="nav-link 
            {% if request.path == '/attendance/timesheet' or request.path == '/attendance/mark_attendance' or request.path == '/attendance/calender'%} active {% endif %}">
              <i class="fa-solid fa-calendar-days nav-icon"></i>
              <p>
                Attendance
                <i class="fa-solid fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview offset-1">
              <li class="nav-item">
                <a href="{% url 'timesheet' %}" class="nav-link 
                {% if request.path == '/attendance/timesheet' %} active {% endif %}">
                  <i class="fa-solid fa-table nav-icon"></i>
                  <p>Timesheet</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'mark_attendance' %}" class="nav-link 
                {% if request.path == '/attendance/timesheet' or request.path == '/attendance/mark_attendance' %} active {% endif %}">
                  <i class="fa-solid fa-user-clock nav-icon"></i>
                  <p>Mark Attendance</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'attendance_calender' %}" class="nav-link {% if request.path == '/attendance/calender' %} active {% endif %}">
                  <i class="fa-regular fa-calendar-days nav-icon"></i>
                  <p>Attendance Calender</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  